{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="dashboard-container">
    <div class="sidebar">
        <h2>ClickSaúde</h2>

        {% if user.is_superuser or user.tipo == 'admin' %}
            <a href="#"><i class="fa fa-user"></i> Meu perfil</a>
            <a href="{% url 'listar_medicos' %}"><i class="fa fa-user-md"></i> Gerenciar Médicos</a>
            <a href="{% url 'listar_atendentes' %}"><i class="fa fa-headset"></i> Gerenciar Atendentes</a>
            <a href="{% url 'listar_pacientes' %}"><i class="fa fa-users"></i> Gerenciar Pacientes</a>
            <a href="{% url 'listar_consultas' %}"><i class="fa fa-calendar"></i> Consultas</a>
            <a href="{% url 'listar_avisos' %}"><i class="fa fa-clock"></i> Avisos de Ausência</a>

        {% elif user.tipo == 'medico' %}
            <a href="#"><i class="fa fa-user"></i> Meu perfil</a>
            <a href="{% url 'listar_pacientes' %}"><i class="fa fa-users"></i> Visualizar Pacientes</a>
            <a href="{% url 'listar_consultas' %}"><i class="fa fa-calendar"></i> Minhas Consultas</a>
            <a href="{% url 'listar_avisos' %}"><i class="fa fa-clock"></i> Meus Avisos</a>

        {% elif user.tipo == 'atendente' %}
            <a href="#"><i class="fa fa-user"></i> Meu perfil</a>
            <a href="{% url 'listar_pacientes' %}"><i class="fa fa-user-plus"></i> Cadastrar Paciente</a>
            <a href="{% url 'listar_consultas' %}"><i class="fa fa-calendar"></i> Consultas</a>

        {% elif user.tipo == 'paciente' %}
            <a href="#"><i class="fa fa-calendar"></i> Minhas Consultas</a>
        {% endif %}

        <a href="{% url 'logout' %}" class="logout-btn"><i class="fa fa-sign-out-alt"></i> Sair</a>
    </div>

    <div class="content">
        <h1>Dashboard</h1>
        <div class="welcome-box">
            <h2>Bem-vindo(a), {{ user.nome_completo }}!</h2>
            <p>{{ mensagem }}</p>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css?v=1">
{% endblock %}