{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-content-container">
    
    <div class="hero-section">
        <img src="{% static 'images/Clínico-Médico-scaled.jpg' %}" alt="Profissionais de saúde em atendimento" class="hero-image">
        
        <div class="hero-overlay">
            <h2>Agende suas consultas de forma rápida e segura.</h2>
            <p>Conectando você aos melhores profissionais de saúde.</p>
            <a href="#" class="btn-cta">Ver Especialidades</a> 
        </div>
    </div>

    <div class="login-card-container">
        <div class="login-card">
            <h3>Recuperar senha</h3>
            
            <form method="POST">
              {% csrf_token %}
              {{ form.email.label_tag }}
              {{ form.email }}
              <button type="submit">Enviar link de recuperação</button>
            </form>

            <p>Você receberá um link no seu e-mail.</p>
            {% endblock %}

                Não tem uma conta? 
                <a href="{% url 'auto_cadastro_paciente' %}">Crie agora</a>
            </p>
        </div>
    </div>
</div>
{% endblock}

